rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
  	function isAdmin() {
      return request.auth != null && request.auth.token.email == 'phong@hotmail.ch';
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }

    match /image-items/{imageItemUid}/{filename} {
    	allow write: if isAdmin();
      allow read: if true;
    }
  }
}
